/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General */
body {
    font-family: Arial, sans-serif;
    background-color: white;
    color: black;
    text-align: center;
}

/* Navbar */
.navbar {
    background-color: #333;
    padding: 10px;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

.navbar li {
    margin: 0 15px;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

/* Contenido */
.container {
    margin-top: 50px;
}

/* Menú de personalización */
.personalizer {
    display: none;
    position: absolute;
    top: 50px;
    right: 20px;
    background: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    border: 1px solid #ccc;
    width: 150px;
    text-align: left;
}

.menu-content { /* Estilos para el contenedor interno */
    padding: 10px; /* Espacio interno para el contenido */
}

.personalizer p {
    margin-bottom: 5px; /* Espacio entre los párrafos */
}

/* Opciones */
.color-options, .size-options, .font-options {
    display: flex;

 
    gap: 5px; 
    margin-bottom: 8px;
}

.color-options div {
    width: 20px;
    height: 18px;
    border-radius: 5px;
    border: 2px solid black;
    cursor: pointer;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); /* Sombra */
    transition: transform 0.4s ease, box-shadow 0.3s ease; /* Transiciones suaves */
}

.color-options div:hover {
    transform: scale(1.1); /* Escala al pasar el ratón */
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Sombra más grande al pasar el ratón */
    border: 3px solid #000000; /* borde negro */
}

.size-options button, .font-options button {
    width: 30px;
    height: 25px;
    font-size: 12px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    background: #f0f0f0;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); /* Sombra */
    transition: transform 0.2s ease, box-shadow 0.2s ease; /* Transiciones suaves */
}

.size-options button:hover, .font-options button:hover {
    background: #ddd;
    transform: scale(1.05); /* Escala al pasar el ratón */
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Sombra más grande al pasar el ratón */
}